In [2]:
import pandas as pd

In [ ]:
df = pd.read_excel("air_quality_data_edited.xlsx")


df = df.drop(df.columns[0], axis=1)
df = df.rename(columns={'Core Based Statistical Area': 'city'})
df = df.iloc[:1018][['city', 'Pollutant', 2020]]

cities = df['city'].unique()
pollutants = df['Pollutant'].unique()

df['city'] = df['city'].fillna(method='ffill')

new_df = df.pivot_table(
    index='city',
    columns='Pollutant',
    values=2020,
    aggfunc='first'
)

new_df = new_df.reset_index()

new_df.head()

C:\Users\alexf\AppData\Local\Temp\ipykernel_39568\2471681530.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['city'] = df['city'].fillna(method='ffill')

Pollutant,city,CO,NO2,O3,PM10,PM2.5,Pb,SO2
0,"Adrian, MI",NaN,NaN,0.067,NaN,NaN,NaN,NaN
1,"Akron, OH",NaN,NaN,0.063,NaN,14.45,NaN,4.0
2,"Albany, GA",NaN,NaN,NaN,NaN,15.45,NaN,NaN
3,"Albany-Schenectady-Troy, NY",NaN,NaN,0.054,NaN,14.70,NaN,2.0
4,"Albuquerque, NM",0.9,24.5,0.071,208.0,11.20,NaN,NaN